// Base
@use 'base/reset';

// Layout
@use 'layout/header';
@use 'layout/home-section';
@use 'layout/minimalist-section';
@use 'layout/gallery__section';
@use 'layout/budget-section';
@use 'layout/footer';

// Module
@use 'module/scroll-up-button';