@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

p, h1, h2, h3 {
  line-height: 130%;
}

li {
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.hidden {
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem 0;
  position: relative;
}
@media (max-width: 481px) {
  .header .header__logo {
    width: 90%;
  }
}
@media (min-width: 481px) {
  .header .header__logo {
    width: 75%;
  }
}
@media (min-width: 922px) {
  .header .header__logo {
    width: 100%;
  }
}
@media (min-width: 922px) {
  .header .header__container {
    display: flex;
    align-items: center;
    gap: 9rem;
  }
}
.header .header__list {
  display: none;
}
@media (min-width: 922px) {
  .header .header__list {
    display: flex;
    gap: 7rem;
  }
}
.header .header__list .header__item {
  transition: all 0.3s;
}
.header .header__list .header__item:hover {
  transform: translateY(-0.3rem);
}
.header .header__list .header__link {
  color: #272727;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
  font-weight: 500;
}
.header .header__list .header__link:hover {
  color: #996f4c;
}
.header .header__icons-list {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header .header__icons-list .header__icon:last-child {
  margin-left: 2rem;
}
@media (min-width: 922px) {
  .header .header__icons-list .header__icon:last-child {
    display: none;
  }
}
.header .header__icons-list .header__icon:not(:last-child) {
  display: none;
}
@media (min-width: 481px) {
  .header .header__icons-list .header__icon:not(:last-child) {
    display: block;
    transition: all 0.3s;
  }
  .header .header__icons-list .header__icon:not(:last-child):hover {
    filter: brightness(0) saturate(100%) invert(51%) sepia(22%) saturate(20%) hue-rotate(50deg) brightness(89%) contrast(93%);
    transform: translateY(-0.3rem);
  }
}
.header .header__menu-mobile.active {
  opacity: 1;
}
.header .header__menu-mobile {
  background-color: #272727;
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: -1;
  padding: 2.5rem;
  transition: all 0.5s;
}
.header .header__menu-mobile::after {
  content: "";
  position: absolute;
  transform: rotate(45deg);
  top: -0.4rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  background-color: #272727;
}
.header .header__menu-mobile .header__menu-mobile-icons {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (min-width: 481px) {
  .header .header__menu-mobile .header__menu-mobile-icons {
    display: none;
  }
}
.header .header__menu-mobile .header__menu-mobile-icons svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(10%) hue-rotate(194deg) brightness(102%) contrast(104%);
  transition: all 0.3s;
}
.header .header__menu-mobile .header__menu-mobile-icons svg:hover {
  filter: brightness(0) saturate(100%) invert(51%) sepia(22%) saturate(20%) hue-rotate(50deg) brightness(89%) contrast(93%);
  transform: translateY(-0.3rem);
}
.header .header__menu-mobile .header__menu-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header .header__menu-mobile .header__menu-mobile-list .header__menu-mobile-link {
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
  font-weight: 500;
  font-weight: 400;
  color: #fff;
}
.header .header__menu-mobile .header__menu-mobile-list .header__menu-mobile-link:hover {
  color: #996f4c;
}

/*# sourceMappingURL=main.css.map */
